In [13]:
import pandas as pd

train = pd.read_csv(r"F:\Machine_learning\HackerEarth\train.csv")
test = pd.read_csv(r"F:\Machine_learning\HackerEarth\test.csv")

train.columns
train.dtypes
# ALL features are either float or integers. and the output is categorical into 4 values. which will be mapped to 1,2,3,4
train.Violations.value_counts() # this is categorical Variable
train.Accident_Type_Code.value_counts() # This is a Categorical variable


train = pd.get_dummies(train, columns =['Accident_Type_Code','Violations'])
test = pd.get_dummies(test, columns =['Accident_Type_Code','Violations'])

train.columns
train = train[['Accident_ID', 'Safety_Score', 'Days_Since_Inspection',
       'Total_Safety_Complaints', 'Control_Metric', 'Turbulence_In_gforces',
       'Cabin_Temperature', 'Max_Elevation', 'Adverse_Weather_Metric',
       'Accident_Type_Code_1', 'Accident_Type_Code_2',
       'Accident_Type_Code_3', 'Accident_Type_Code_4', 'Accident_Type_Code_5',
       'Accident_Type_Code_6', 'Accident_Type_Code_7', 'Violations_0',
       'Violations_1', 'Violations_2', 'Violations_3', 'Violations_4',
       'Violations_5','Severity']]
# 'Severity' is sent to last columns as that is the output. Accident_ID is made first columns since thats the output format.

train.Severity.value_counts().sum() # 10000 values
train.shape # 10000 x 23
# to confirm the values in the output and shape of the train data.
train.Severity.value_counts() # Distribution of the data along output types.

# Mapping all 4 types to numeric values. 
train.Severity = train.Severity.map({'Highly_Fatal_And_Damaging':0,
                                     'Significant_Damage_And_Serious_Injuries':1,
                                     'Minor_Damage_And_Injuries':2,
                                     'Significant_Damage_And_Fatalities':3},)
test.columns
# Adding Accident_ID as the first column to the test data.
test = test[['Accident_ID','Safety_Score', 'Days_Since_Inspection', 'Total_Safety_Complaints',
       'Control_Metric', 'Turbulence_In_gforces', 'Cabin_Temperature',
       'Max_Elevation', 'Adverse_Weather_Metric',
       'Accident_Type_Code_1', 'Accident_Type_Code_2', 'Accident_Type_Code_3',
       'Accident_Type_Code_4', 'Accident_Type_Code_5', 'Accident_Type_Code_6',
       'Accident_Type_Code_7', 'Violations_0', 'Violations_1', 'Violations_2',
       'Violations_3', 'Violations_4', 'Violations_5']]

train.shape, test.shape # one extra column in train data which is the output.
# since ID's are not the part of the data input, they are saved into different columns and later will mapped onto
# the output data for submission.
Acc_ID_Train = train.Accident_ID
Acc_ID_Test = test.Accident_ID
# Dropping the Accident ID
train = train.iloc[:,1:]
test = test.iloc[:,1:]


# Create X_train, y_train and we have test data withour output.
X = train.iloc[:,0:-1]
y = train.iloc[:,[-1]] # severityb

# X.shape, test.shape

In [14]:
# Fitting Random Forest Classification to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 500, criterion = 'entropy', random_state = 0)
classifier.fit(X, y)

# Predicting the Test set results
y_pred = classifier.predict(test)

# # Making the Confusion Matrix
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_test, y_pred)

C:\Users\spens\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [15]:
y_pred

array([0, 3, 1, ..., 1, 1, 0], dtype=int64)

In [17]:
sub = pd.DataFrame(Acc_ID_Test)
sub['Severity'] = y_pred.tolist()
sub.Severity = sub.Severity.map({0:'Highly_Fatal_And_Damaging',
                   1:'Significant_Damage_And_Serious_Injuries',
                   2:'Minor_Damage_And_Injuries',
                   3:'Significant_Damage_And_Fatalities'})
sub.to_csv(r"F:\Machine_learning\HackerEarth\RF_submission_RFC.csv",index = None, header=True)

### Comparing Sample Submission and Test data rows

In [18]:
test.head()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Max_Elevation,Adverse_Weather_Metric,Accident_Type_Code_1,Accident_Type_Code_2,...,Accident_Type_Code_4,Accident_Type_Code_5,Accident_Type_Code_6,Accident_Type_Code_7,Violations_0,Violations_1,Violations_2,Violations_3,Violations_4,Violations_5
0,19.497717,16,6,72.151322,0.388959,78.32,37949.724386,0.069692,0,0,...,1,0,0,0,0,0,1,0,0,0
1,58.173516,15,3,64.585232,0.250841,78.60,30194.805567,0.002777,0,0,...,0,0,0,1,0,0,1,0,0,0
2,33.287671,15,3,64.721969,0.336669,86.96,17572.925484,0.004316,0,0,...,0,0,1,0,0,1,0,0,0,0
3,3.287671,21,5,66.362808,0.421775,80.86,40209.186341,0.199990,0,0,...,0,0,0,0,0,0,1,0,0,0
4,10.867580,18,2,56.107566,0.313228,79.22,35495.525408,0.483696,0,1,...,0,0,0,0,0,0,1,0,0,0

In [19]:
sample = pd.read_csv(r"F:\Machine_learning\HackerEarth\sample_submission.csv")

In [20]:
sample.head()

   Accident_ID                                 Severity
0            1                Minor_Damage_And_Injuries
1           10                Highly_Fatal_And_Damaging
2           14                Highly_Fatal_And_Damaging
3           17  Significant_Damage_And_Serious_Injuries
4           21                Minor_Damage_And_Injuries

In [24]:
test.iloc[[1,10,14,17,21]]

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Max_Elevation,Adverse_Weather_Metric,Accident_Type_Code_1,Accident_Type_Code_2,...,Accident_Type_Code_4,Accident_Type_Code_5,Accident_Type_Code_6,Accident_Type_Code_7,Violations_0,Violations_1,Violations_2,Violations_3,Violations_4,Violations_5
1,58.173516,15,3,64.585232,0.250841,78.60,30194.805567,0.002777,0,0,...,0,0,0,1,0,0,1,0,0,0
10,48.310502,10,7,57.474932,0.311065,79.43,40646.952825,0.202521,0,0,...,0,0,0,0,0,0,1,0,0,0
14,50.045662,17,8,68.049225,0.362273,78.89,47681.695588,0.031825,0,0,...,0,1,0,0,0,0,0,1,0,0
17,53.652968,9,2,67.775752,0.449543,77.42,40353.553911,1.484524,1,0,...,0,0,0,0,0,1,0,0,0,0
21,37.168950,14,14,84.867821,0.289427,84.00,24101.142663,0.043569,0,0,...,1,0,0,0,0,0,1,0,0,0